<%-include partials/header%>


            <h3><%=movie.status_message%></h3>
            <div class = 'row'>
                <div class = 'col-4'>
                    <img class='img-fluid' src=<%=`https://image.tmdb.org/t/p/w300${movie.poster_path}`%> alt='Movie poster'>
                </div>
                <div class = 'col-8'>
                    <h2><%= movie.title%></h2>
                    <p>Relase date: <%= movie.release_date%></p>
                    <p><%= movie.overview%></p>
                </div>
            </div>

        </div>
    </body>
</html>